body {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.counting {
    font-size: 60px;
    height: 140px;
    font-family: sans-serif;
    margin-right: 20px;
}
.gray {
    font-size: 15px;
    font-weight: 100;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 25px;
    margin-right: 30px;
}
.right {
    width: 400px;
    height: 300px;
    font-size: 15px;
    font-family: sans-serif;
    border: lightgray 1px solid;
    padding: 10px;
}